body{

font-family:tahoma;

background:#f4f6f9;

}

.hero{

background:linear-gradient(135deg,#003366,#0059b3);

color:white;

padding:120px 20px;

}

.hero h1{

font-size:48px;

font-weight:bold;

}

.hero p{

font-size:22px;

margin-top:20px;

}

section{

background:white;

margin-top:30px;

border-radius:15px;

padding:40px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

footer{

background:#111;

color:white;

padding:25px;

text-align:center;

margin-top:50px;

}